@charset "UTF-8";
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

@font-face {
  font-family: 'Arial';
  src: url("../../src/fonts/Arial-Black.woff2") format("woff2"), url("../../src/fonts/Arial-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial Narrow';
  src: url("../../src/fonts/ArialNarrow-Bold.woff2") format("woff2"), url("../../src/fonts/ArialNarrow-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial Narrow';
  src: url("../../src/fonts/ArialNarrow-BoldItalic.woff2") format("woff2"), url("../../src/fonts/ArialNarrow-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Arial Narrow';
  src: url("../../src/fonts/ArialNarrow-Italic.woff2") format("woff2"), url("../../src/fonts/ArialNarrow-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url("../../src/fonts/Arial-ItalicMT.woff2") format("woff2"), url("../../src/fonts/Arial-ItalicMT.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Georgia';
  src: url("../../src/fonts/Georgia-BoldItalic.woff2") format("woff2"), url("../../src/fonts/Georgia-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url("../../src/fonts/ArialMT.woff2") format("woff2"), url("../../src/fonts/ArialMT.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url("../../src/fonts/Arial-BoldItalicMT.woff2") format("woff2"), url("../../src/fonts/Arial-BoldItalicMT.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url("../../src/fonts/Arial-BoldMT.woff2") format("woff2"), url("../../src/fonts/Arial-BoldMT.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Georgia';
  src: url("../../src/fonts/Georgia-Italic.woff2") format("woff2"), url("../../src/fonts/Georgia-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Georgia';
  src: url("../../src/fonts/Georgia-Bold.woff2") format("woff2"), url("../../src/fonts/Georgia-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial Narrow';
  src: url("../../src/fonts/ArialNarrow.woff2") format("woff2"), url("../../src/fonts/ArialNarrow.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Georgia';
  src: url("../../src/fonts/Georgia.woff2") format("woff2"), url("../../src/fonts/Georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 10px;
  margin: 0 auto;
}

body {
  max-width: 1280px;
  margin: 0 auto;
}

body.noscroll {
  height: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

header, section, footer {
  height: 100%;
  margin: 0px auto;
}

h1 {
  /* logo_title */
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 110%;
  /* or 35px */
  letter-spacing: 0.06em;
  /* color-primary */
  color: #545454;
}

h2 {
  /* h2 */
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 4.4rem;
  line-height: 130%;
  /* or 57px */
  /* color-dark-l */
  color: #545454;
}

h3 {
  /* h3 */
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  /* or 45px */
  letter-spacing: 0.06em;
  /* color-dark-l */
  color: #545454;
}

@media (max-width: 767px) {
  h3 {
    font-size: 2.5rem;
  }
}

h4 {
  /* h4 */
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 2.0rem;
  line-height: 115%;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;
  /* color-dark-l */
  color: #545454;
}

h5 {
  /* h5 */
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 110%;
  /* identical to box height, or 17px */
  letter-spacing: 0.06em;
  /* color-dark-l */
  color: #545454;
}

.paragraph-l {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
  color: #CDCDCD;
}

.button-standart {
  padding: 15px 45px;
  background-color: #F1CDB3;
  border-radius: 100px;
}

.button-standart:hover {
  cursor: pointer;
  background-color: #FDDCC4;
}

.button__round {
  height: 52px;
  width: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background-color: #F6F6F6;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  height: 100%;
}

@media (max-width: 1279px) {
  .wrapper {
    max-width: 708px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .wrapper {
    max-width: 300px;
    width: 100%;
  }
}

.start-screen {
  background: url(../../src/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

main {
  background-color: #F6F6F6;
}

.pets {
  background-color: #F6F6F6;
  padding-bottom: 100px;
}

@media (max-width: 767px) {
  .pets {
    padding-bottom: 44px;
  }
}

.donation {
  background-color: #F6F6F6;
}

.header {
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 120px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}

@media (max-width: 1279px) {
  .header {
    max-width: 1280px;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 767px) {
  .header {
    max-width: 768;
    width: 100%;
  }
}

.wrapper__pets-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.logo {
  position: relative;
  z-index: 11;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1279px) {
  .logo {
    padding-top: 30px;
  }
}

.logo__subText {
  padding-top: 10px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.1em;
  color: #292929;
}

.main-nav {
  margin-top: 40px;
  padding-top: 27px;
  max-width: 446px;
  height: 100%;
}

@media (max-width: 1279px) {
  .main-nav {
    padding-top: 46px;
    margin-top: 0px;
  }
}

@media (max-width: 767px) {
  .main-nav {
    display: none;
  }
}

.main-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.6rem;
}

.main-nav_link {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
  letter-spacing: 0;
  color: #545454;
  white-space: nowrap;
}

.main-nav_link:hover {
  color: #292929;
}

.main-nav_link_default {
  color: #292929;
  border-bottom: solid #F1CDB3;
  padding-bottom: 4px;
}

.header__burger-icon {
  display: none;
}

@media (max-width: 767px) {
  .header__burger-icon {
    display: block;
    position: relative;
    width: 30px;
    height: 22px;
    z-index: 20;
    margin: 48px 0px 0px 0px;
  }
  .header__burger-icon span, .header__burger-icon span:before, .header__burger-icon span:after {
    content: '';
    position: absolute;
    background-color: #000;
    left: 0px;
    width: 100%;
    height: 2px;
  }
  .header__burger-icon span:before {
    top: 10px;
  }
  .header__burger-icon span:after {
    bottom: 10px;
  }
  .header__burger-icon span {
    top: 10px;
  }
  .header__burger-icon.active span {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  .header__burger-icon span {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
}

@-webkit-keyframes slide-in {
  from {
    margin-right: -320px;
  }
  to {
    margin-right: 0px;
  }
}

@keyframes slide-in {
  from {
    margin-right: -320px;
  }
  to {
    margin-right: 0px;
  }
}

@-webkit-keyframes slide-out {
  from {
    margin-right: 0px;
  }
  to {
    margin-right: -320px;
  }
}

@keyframes slide-out {
  from {
    margin-right: 0px;
  }
  to {
    margin-right: -320px;
  }
}

.burger-nav__items {
  margin-right: -320px;
  z-index: 10;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 250px;
  right: 0px;
  top: 0px;
  background: #FFFFFF;
  width: 320px;
  max-width: 100%;
  height: 100%;
}

.burger-nav__items .burger__menu-link {
  color: #545454;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 160%;
}

.burger-nav__items .burger__menu-link:hover {
  color: #292929;
}

.burger-nav__items .burger-nav__item {
  margin-bottom: 40px;
}

.burger-nav__items.hide {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: slide-out;
          animation-name: slide-out;
}

.burger-nav__items.active {
  margin-right: 0px;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: slide-in;
          animation-name: slide-in;
}

.burger-nav__items.start {
  display: none;
}

.overlay {
  position: fixed;
  z-index: 5;
  top: 120px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(41, 41, 41, 0.6);
}

.overlay.hiden {
  display: none;
}

.pets__content {
  max-width: 1200px;
  height: 100%;
  padding: 200px 0px 70px 0px;
  background-color: #F6F6F6;
}

@media (max-width: 767px) {
  .pets__content {
    padding-top: 160px;
    padding-bottom: 40px;
  }
}

.pets__header {
  max-width: 400px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

@-webkit-keyframes fade {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes fade {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.pets__card_conteiner {
  max-width: 1200px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

@media (max-width: 1279px) {
  .pets__card_conteiner {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
  .pets__card_conteiner {
    margin-top: 42px;
  }
}

.pets__card {
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-name: fade;
          animation-name: fade;
  max-width: 270px;
  height: 100%;
  margin-bottom: 30px;
  padding-bottom: 30px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1279px) {
  .pets__card:nth-child(8) {
    display: none;
  }
  .pets__card:nth-child(7) {
    display: none;
  }
}

@media (max-width: 767px) {
  .pets__card {
    display: none;
  }
  .pets__card:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .pets__card:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .pets__card:nth-child(3) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.pets__card:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pets__card:hover .pets_learn_more {
  background-color: #FDDCC4;
}

.pets_learn_more:hover {
  cursor: pointer;
}

.pets_image {
  max-width: 270px;
  height: 100%;
}

.pets_name {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 30px;
}

.pets_learn_more {
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  text-align: center;
  margin-top: 30px;
  background-color: #fff;
}

.pets_learn_more_btn {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  text-decoration: none;
}

.pets_pagination {
  max-width: 340px;
  height: 100%;
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1279px) {
  .pets_pagination {
    margin: 11px auto 5px;
  }
}

.pets_pagination_btn {
  width: 52px;
  height: 52px;
  border-radius: 100px;
  text-align: center;
  border: 2px solid #F1CDB3;
  background-color: #F6F6F6;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #292929;
  text-decoration: none;
}

.enable:hover {
  cursor: pointer;
  background-color: #F1CDB3;
}

.disable {
  border: 2px solid #CDCDCD;
}

.pets_pagination_btn:disabled .pets_pag_link {
  pointer-events: none;
  cursor: default;
}

.is_page {
  width: 52px;
  height: 52px;
  border-radius: 100px;
  text-align: center;
  border: 2px solid #F1CDB3;
  background-color: #F1CDB3;
  padding-top: 12px;
  border: 2px solid #F1CDB3;
  background-color: #F1CDB3;
}

.pets_pag_link {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #292929;
  text-decoration: none;
  pointer-events: none;
  cursor: default;
}

.pets_learn_more {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 130%;
  /* identical to box height, or 22px */
  letter-spacing: 0.06em;
  /* color-dark-3xl */
  color: #292929;
}

.footer {
  max-width: 1280px;
  margin: 0px auto;
  height: 100%;
  background: url(../../src/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  padding-top: 40px;
  height: 100%;
}

@media (max-width: 1279px) {
  .footer {
    margin: 0px auto;
    max-width: 1280px;
    width: 100%;
    height: 100%;
    padding-top: 25px;
  }
}

@media (max-width: 767px) {
  .footer {
    margin: 0px auto;
    padding: 0px;
    max-width: 768px;
    width: 100%;
  }
}

.footer__conteiner {
  max-width: 1200px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1279px) {
  .footer__conteiner {
    max-width: 708px;
  }
}

@media (max-width: 767px) {
  .footer__conteiner {
    max-width: 300px;
    text-align: center;
    margin: 0px;
  }
}

.footer__contacts {
  width: 279px;
  height: 234px;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1279px) {
  .footer__contacts {
    margin: 4px 0px 0px 32px;
  }
}

@media (max-width: 767px) {
  .footer__contacts {
    margin: 0px 0px 0px 9px;
    padding: 0px 0px 0px 0px;
    height: 100%;
    margin-top: 30px;
  }
}

.footer__location {
  width: 302px;
  height: 234px;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1279px) {
  .footer__location {
    margin: 3px 33px 0px 0px;
  }
}

@media (max-width: 767px) {
  .footer__location {
    margin: 0px;
    padding: 0px;
    height: 100%;
    margin-top: 41px;
    text-align: center;
  }
  .footer__location h3 {
    width: 290px;
    padding-left: 11px;
  }
}

.footer_link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__email, .footer__phone, .footer__location_1, .footer__location_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .footer__email, .footer__phone {
    padding-left: 15px;
    margin-top: 42px;
  }
  .footer__phone {
    padding-left: 19px;
  }
  .footer__location_1, .footer__location_2 {
    padding-left: 0px;
    margin-top: 39px;
    text-align: start;
  }
  .footer__location_2 {
    padding-left: 0px;
  }
}

.footer__img {
  margin-right: 20px;
}

.footer__puppy {
  max-width: 300px;
  height: 100%;
}

@media (max-width: 1279px) {
  .footer__puppy {
    margin-top: 66px;
    margin-left: 204px;
  }
}

@media (max-width: 767px) {
  .footer__puppy {
    width: 260px;
    height: 100%;
    margin: 0px;
    padding-top: 42px;
    margin-left: 20px;
  }
}

.footer__puppy_img {
  width: 100%;
  height: 100%;
}

.overlay__modal {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgba(41, 41, 41, 0.6);
}

.overlay__modal:hover {
  cursor: pointer;
}

.modal__window {
  background: #FAFAFA;
  border-radius: 9px;
  max-width: 900px;
  width: 100%;
  max-height: 500px;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
}

.modal__window:hover {
  cursor: default;
}

@media (max-width: 1279px) {
  .modal__window {
    max-width: 630px;
    max-height: 380px;
  }
}

@media (max-width: 767px) {
  .modal__window {
    max-width: 240px;
    max-height: 440px;
  }
  .modal__window img {
    display: none;
  }
}

.modal__window-content {
  color: #000;
  margin: 50px auto;
  padding-right: 20px;
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

@media (max-width: 1279px) {
  .modal__window-content {
    margin-top: 10px;
    padding: 10px;
    height: 100%;
  }
}

@media (max-width: 767px) {
  .modal__window-content {
    margin-top: 10px;
    padding: 10px;
    height: 100%;
  }
}

.modal__window-content h2 {
  color: #000;
}

@media (max-width: 1279px) {
  .modal__window-content h2 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
  }
}

@media (max-width: 767px) {
  .modal__window-content h2 {
    text-align: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
  }
}

.modal__window-content h4 {
  color: #000;
  margin-top: 10px;
}

@media (max-width: 767px) {
  .modal__window-content h4 {
    text-align: center;
  }
}

.modal__window-content h5 {
  color: #000;
  margin-top: 40px;
}

@media (max-width: 1279px) {
  .modal__window-content h5 {
    margin-top: 15px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 110%;
    text-align: justify;
    letter-spacing: 0.06em;
  }
}

@media (max-width: 767px) {
  .modal__window-content h5 {
    margin-top: 15px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 110%;
    text-align: justify;
    letter-spacing: 0.06em;
  }
}

.modal__window-content ul {
  padding-bottom: 5px;
  color: #000;
  margin-top: 30px;
}

@media (max-width: 1279px) {
  .modal__window-content ul {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .modal__window-content ul {
    margin-top: 10px;
  }
}

.modal__window-content b {
  color: #000;
  font-weight: 800;
}

.modal__other-item {
  margin-top: 10px;
  padding-left: 20px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #000;
}

.modal__other-item::before {
  content: "•";
  color: #F1CDB3;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.modal__close-btn {
  position: absolute;
  top: -50px;
  right: -50px;
  height: 52px;
  width: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background: transparent;
  font-size: 2rem;
  font-weight: 800;
}

.modal__close-btn:hover {
  cursor: pointer;
  background: #F1CDB3;
}

@media (max-width: 767px) {
  .modal__close-btn {
    top: -52px;
    right: -30px;
  }
}

.overlay__modal:hover .modal__window:not(:hover) .modal__close-btn,
.modal__close-btn:hover {
  cursor: pointer;
  background-color: #F1CDB3;
  border-color: #F1CDB3;
}
/*# sourceMappingURL=style.css.map */