*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

@font-face {
  font-family: 'Arial';
  src: url("../../src/fonts/Arial-Black.woff2") format("woff2"), url("../../src/fonts/Arial-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial Narrow';
  src: url("../../src/fonts/ArialNarrow-Bold.woff2") format("woff2"), url("../../src/fonts/ArialNarrow-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial Narrow';
  src: url("../../src/fonts/ArialNarrow-BoldItalic.woff2") format("woff2"), url("../../src/fonts/ArialNarrow-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Arial Narrow';
  src: url("../../src/fonts/ArialNarrow-Italic.woff2") format("woff2"), url("../../src/fonts/ArialNarrow-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url("../../src/fonts/Arial-ItalicMT.woff2") format("woff2"), url("../../src/fonts/Arial-ItalicMT.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Georgia';
  src: url("../../src/fonts/Georgia-BoldItalic.woff2") format("woff2"), url("../../src/fonts/Georgia-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url("../../src/fonts/ArialMT.woff2") format("woff2"), url("../../src/fonts/ArialMT.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url("../../src/fonts/Arial-BoldItalicMT.woff2") format("woff2"), url("../../src/fonts/Arial-BoldItalicMT.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url("../../src/fonts/Arial-BoldMT.woff2") format("woff2"), url("../../src/fonts/Arial-BoldMT.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Georgia';
  src: url("../../src/fonts/Georgia-Italic.woff2") format("woff2"), url("../../src/fonts/Georgia-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Georgia';
  src: url("../../src/fonts/Georgia-Bold.woff2") format("woff2"), url("../../src/fonts/Georgia-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial Narrow';
  src: url("../../src/fonts/ArialNarrow.woff2") format("woff2"), url("../../src/fonts/ArialNarrow.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Georgia';
  src: url("../../src/fonts/Georgia.woff2") format("woff2"), url("../../src/fonts/Georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 10px;
  margin: 0 auto;
}

body {
  max-width: 1280px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

header, section, footer {
  height: 100%;
  margin: 0px auto;
}

h1 {
  /* logo_title */
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 110%;
  /* or 35px */
  letter-spacing: 0.06em;
  /* color-primary */
  color: #F1CDB3;
}

h2 {
  /* h2 */
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 4.4rem;
  line-height: 130%;
  /* or 57px */
  /* color-dark-l */
  color: #545454;
}

h3 {
  /* h3 */
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  /* or 45px */
  letter-spacing: 0.06em;
  /* color-dark-l */
  color: #545454;
}

@media (max-width: 767px) {
  h3 {
    font-size: 2.5rem;
  }
}

h4 {
  /* h4 */
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 2.0rem;
  line-height: 115%;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;
  /* color-dark-l */
  color: #545454;
}

h5 {
  /* h5 */
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 110%;
  /* identical to box height, or 17px */
  letter-spacing: 0.06em;
  /* color-dark-l */
  color: #545454;
}

.paragraph-l {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
  color: #CDCDCD;
}

.button-standart {
  padding: 15px 45px;
  background-color: #F1CDB3;
  border-radius: 100px;
}

.button-standart:hover {
  cursor: pointer;
  background-color: #FDDCC4;
}

.button__round {
  height: 52px;
  width: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background-color: #F6F6F6;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  height: 100%;
}

@media (max-width: 1279px) {
  .wrapper {
    max-width: 1200px;
  }
}

@media (max-width: 767px) {
  .wrapper {
    max-width: 708px;
  }
}

.start-screen {
  background: url(../../src/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.pets {
  background-color: #F6F6F6;
  padding-bottom: 100px;
}

@media (max-width: 767px) {
  .pets {
    padding-bottom: 44px;
  }
}

.donation {
  background-color: #F6F6F6;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1279px) {
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.logo {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1279px) {
  .logo {
    padding-top: 30px;
  }
}

.logo__subText {
  padding-top: 10px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.main-nav {
  padding-top: 55px;
  max-width: 444px;
  height: 100%;
}

@media (max-width: 1279px) {
  .main-nav {
    padding-top: 46px;
  }
}

@media (max-width: 767px) {
  .main-nav {
    display: none;
  }
}

.main-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.6rem;
}

.main-nav_link {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
  letter-spacing: 0;
  color: #CDCDCD;
  white-space: nowrap;
}

.main-nav_link:hover {
  color: #FAFAFA;
}

.main-nav_link_default {
  color: #FAFAFA;
  border-bottom: solid #F1CDB3;
  padding-bottom: 4px;
}

.start-screen-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1279px) {
  .start-screen-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.start-screen-content-text {
  max-width: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 164px;
}

@media (max-width: 1279px) {
  .start-screen-content-text {
    padding-top: 0px;
  }
}

@media (max-width: 767px) {
  .start-screen-content-text {
    text-align: center;
  }
}

.start-screen-content-text__h2 {
  color: #fff;
}

@media (max-width: 767px) {
  .start-screen-content-text__h2 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    margin: 0 auto;
  }
}

.start-screen-content__paragraph-l {
  padding: 42px 0px;
}

@media (max-width: 1279px) {
  .start-screen-content__button {
    margin: 0px auto;
  }
}

@media (max-width: 1279px) {
  .start-screen-content__image {
    margin-top: 100px;
    margin-left: 140px;
    max-width: 569px;
    height: 593px;
  }
}

@media (max-width: 767px) {
  .start-screen-content__image {
    max-width: 260px;
    height: 100%;
    margin: 0px;
  }
}

.start-screen-content__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 1279px) {
  .start-screen-content__img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

@media (max-width: 767px) {
  .start-screen-content__img {
    margin: 105px 0px -3px 19px;
  }
}

.about-content {
  padding: 80px 175px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

@media (max-width: 1279px) {
  .about-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 80px 140px 100px;
  }
}

@media (max-width: 767px) {
  .about-content {
    padding: 42px 0px 0px 0px;
    text-align: center;
  }
}

.about-content_image {
  display: block;
  max-width: 300px;
  height: 100%;
}

@media (max-width: 1279px) {
  .about-content_image {
    margin: 80px 63px 0px;
  }
}

@media (max-width: 767px) {
  .about-content_image {
    margin: 38px 0px 0px 20px;
    max-width: 260px;
    max-height: 100%;
  }
}

.about-content_text {
  padding: 14px 0px;
  max-width: 430px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-content_text p {
  margin-top: 24px;
}

@media (max-width: 1279px) {
  .about-content_text {
    padding: 0px;
  }
}

@media (max-width: 767px) {
  .about-content_text {
    max-width: 270px;
    height: 100%;
    margin-left: 15px;
  }
  .about-content_text p {
    text-align: justify;
  }
}

@media (max-width: 1279px) {
  .about-content_p {
    margin-top: 25px;
  }
}

.pets_h3 {
  padding-top: 79px;
  text-align: center;
}

@media (max-width: 767px) {
  .pets_h3 {
    margin-top: 40px;
    padding-top: 43px;
  }
}

.pets__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 60px;
}

@media (max-width: 767px) {
  .pets__slider {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .pets__slider {
    padding-top: 43px;
    padding-left: 16px;
  }
}

.pets__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: center;
  gap: 8.8rem;
}

@media (max-width: 1279px) {
  .pets__cards {
    gap: 4rem;
  }
}

.pets__card {
  background-color: #FFFFFF;
}

.pets__card:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

@media (max-width: 1279px) {
  .pets__card:last-child {
    display: none;
  }
}

@media (max-width: 767px) {
  .pets__card {
    display: none;
  }
  .pets__card:first-child {
    display: block;
  }
}

.pets__card:hover .pets__button_standart {
  background-color: #FDDCC4;
}

.pets__name {
  padding-top: 25px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 2.0rem;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.06em;
  padding-bottom: 30px;
}

.pets__button_standart {
  margin-bottom: 30px;
}

.pets__button {
  display: block;
  margin: 60px auto 0px;
}

@media (max-width: 767px) {
  .pets__button {
    margin-top: 41px;
  }
}

@media (max-width: 767px) {
  .pets__btn {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 22px 0px 0px 42px;
  }
  .pets__btn:last-child {
    margin: 22px 58px 0px 0px;
  }
}

.pets__btn:hover {
  background-color: #FDDCC4;
}

.help__header {
  text-align: center;
  padding-top: 80px;
}

@media (max-width: 767px) {
  .help__header {
    padding-top: 40px;
  }
}

.help__content {
  height: 100%;
  max-width: 1029px;
  margin-top: 0px;
  margin-left: 87px;
  margin-bottom: 102px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media (max-width: 1279px) {
  .help__content {
    margin: 0px 40px 105px;
    max-width: 630px;
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    white-space: nowrap;
  }
}

@media (max-width: 767px) {
  .help__content {
    padding-left: 20px;
    padding-top: 30px;
    margin: 0px;
    max-width: 290px;
    height: 100%;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.help__items {
  text-align: center;
  max-height: 113px;
  margin-right: 120px;
  margin-top: 59px;
}

@media (min-width: 1280px) {
  .help__items:last-child {
    margin-right: 0px;
  }
  .help__items:nth-child(5) {
    margin-right: 0px;
    margin-left: -1px;
  }
  .help__items:nth-child(6) {
    margin-left: 83px;
  }
}

@media (max-width: 1279px) {
  .help__items {
    margin-right: 0px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 26%;
            flex: 0 0 26%;
  }
  .help__items:last-child(3n) {
    margin-right: 0px;
  }
}

@media (max-width: 767px) {
  .help__items {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 37.2%;
            flex: 0 0 37.2%;
    width: 130px;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.help__items_text {
  padding-top: 25px;
}

@media (max-width: 767px) {
  .help__items_text {
    padding: 0px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .help__help-svg {
    width: 50px;
    height: 50px;
    display: block;
    margin: 15px auto;
  }
}

.donation-content {
  max-width: 915px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 81px;
  padding-bottom: 100px;
}

@media (max-width: 1279px) {
  .donation-content {
    max-width: 768px;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 767px) {
  .donation-content {
    margin: 26px 0px 0px 0px;
    padding: 43px 0px 0px 0px;
    text-align: center;
  }
}

.donation-content__image {
  max-width: 505px;
  height: 100%;
  margin-top: 11px;
}

@media (max-width: 1279px) {
  .donation-content__image {
    margin-top: 58px;
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .donation-content__image {
    max-width: 260px;
    height: 100%;
    padding: 0px 0px 45px 0px;
  }
}

.donation-content_text {
  max-width: 380px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 30px;
}

.donation-content_text span {
  display: inline-block;
  height: 23px;
  width: 30px;
  background-image: url("../../src/icons/credit-card.svg");
}

.donation-content_text h5 {
  display: inline-block;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .donation-content_text h5 {
    white-space: nowrap;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 160%;
    color: #545454;
    margin-top: 20px;
    letter-spacing: 0px;
  }
}

@media (max-width: 1279px) {
  .donation-content_text {
    margin-left: 0px;
  }
}

@media (max-width: 767px) {
  .donation-content_text {
    width: 100%;
    height: 100%;
    padding: 0px;
  }
}

.donation__button {
  max-width: 349px;
  max-height: 43px;
  background: #F1CDB3;
  border-radius: 9px;
  text-align: center;
  margin-top: 20px;
  padding: 10px 15px 10px 15px;
}

.donation__button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .donation__button {
    max-width: 281px;
    height: 100%;
    padding: 10px 15px;
    margin: 21px 0px 0px 9px;
  }
  .donation__button h4 {
    white-space: nowrap;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
    padding: 3px 0px 0px 13px;
  }
}

.donation__button:hover {
  background-color: #FDDCC4;
}

.donation-content__p {
  margin-top: 20px;
  max-width: 380px;
  max-height: 72px;
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
}

@media (max-width: 767px) {
  .donation-content__p {
    padding: 2px 0px 0px 9px;
    text-align: justify;
    width: 289px;
  }
}

.footer {
  max-width: 1280px;
  height: 100%;
  background: url(../../src/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  padding-top: 40px;
  height: 100%;
}

@media (max-width: 1279px) {
  .footer {
    max-width: 768px;
    height: 100%;
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .footer {
    margin: 0px;
    padding: 0px;
    max-width: 320px;
  }
}

.footer__conteiner {
  max-width: 1200px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1279px) {
  .footer__conteiner {
    max-width: 708px;
  }
}

@media (max-width: 767px) {
  .footer__conteiner {
    max-width: 300px;
    text-align: center;
    margin: 0px;
  }
}

.footer__contacts {
  width: 279px;
  height: 234px;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1279px) {
  .footer__contacts {
    margin: 4px 0px 0px 32px;
  }
}

@media (max-width: 767px) {
  .footer__contacts {
    margin: 0px 0px 0px 9px;
    padding: 0px 0px 0px 0px;
    height: 100%;
    margin-top: 30px;
  }
}

.footer__location {
  width: 302px;
  height: 234px;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1279px) {
  .footer__location {
    margin: 3px 33px 0px 0px;
  }
}

@media (max-width: 767px) {
  .footer__location {
    margin: 0px;
    padding: 0px;
    height: 100%;
    margin-top: 41px;
    text-align: center;
  }
  .footer__location h3 {
    width: 290px;
    padding-left: 11px;
  }
}

.footer_link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__email, .footer__phone, .footer__location_1, .footer__location_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .footer__email, .footer__phone {
    padding-left: 15px;
    margin-top: 42px;
  }
  .footer__phone {
    padding-left: 19px;
  }
  .footer__location_1, .footer__location_2 {
    padding-left: 0px;
    margin-top: 39px;
    text-align: start;
  }
  .footer__location_2 {
    padding-left: 0px;
  }
}

.footer__img {
  margin-right: 20px;
}

.footer__puppy {
  max-width: 300px;
  height: 100%;
}

@media (max-width: 1279px) {
  .footer__puppy {
    margin-top: 66px;
    margin-left: 204px;
  }
}

@media (max-width: 767px) {
  .footer__puppy {
    width: 260px;
    height: 100%;
    margin: 0px;
    padding-top: 42px;
    margin-left: 20px;
  }
}

.footer__puppy_img {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */