.donation-content{
    max-width: 915px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    @include media-laptop{
        flex-direction: column;
        
    }

}
.donation-content_text{
    max-width: 380px;
}