.donation-content{
    max-width: 915px;
    margin: 0px auto;
    display: flex;
    padding-top: 81px;
    padding-bottom: 100px;
    @include media-laptop{
        max-width: 768px;
        height: 100%;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    @include media-mobile{
        margin: 26px 0px 0px 0px;
        padding: 43px 0px 0px 0px;
        text-align: center;
    }
}

.donation-content__image{
    max-width: 505px;
    height: 100%;
    margin-top: 11px;
    @include media-laptop{
        margin-top: 58px;
        height: 100%;
        width: 100%;
    }
    @include media-mobile{
        max-width: 260px;
        height: 100%;
        padding: 0px 0px 43px 0px;
    }
}
.donation-content_text{
    max-width: 380px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
    
    span{
        display: inline-block;
        height: 23px;
        width: 30px;
        background-image: url("../../src/icons/credit-card.svg");
    }

    h5{
        display: inline-block;
        margin-top: 20px;
        @include media-mobile{
            white-space: nowrap;
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 1.5rem;
            line-height: 160%;
            color: #545454;
            margin-top: 20px;
            letter-spacing: 0px;
        }       

    }
    @include media-laptop{
         margin-left: 0px;
    }
    @include media-mobile{
        width: 100%;
        height: 100%;
        padding: 0px;
    }
}
.donation__button{
    max-width: 349px;
    max-height: 43px;
    background: #F1CDB3;
    border-radius: 9px;
    text-align: center;
    margin-top: 20px;
    padding:10px 15px 10px 15px;
    a{
        display: flex;
        justify-content: space-between;
    }
    @include media-mobile{
        max-width: 281px;
        height: 100%;
        h4{
            white-space: nowrap;
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 110%;
            letter-spacing: 0.06em;
            color: #545454;
            padding: 3px 0px 0px 13px;
        }
        padding: 10px 15px;
        margin: 16px 0px 0px 9px;
    }
    &:hover{
        background-color: #FDDCC4;
    }
}
.donation-content__p{
    margin-top: 20px;
    max-width: 380px;
    max-height: 72px;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
    @include media-mobile{
        padding: 2px 0px 0px 9px;
        text-align: justify;
        width: 289px;
    }
}